@import "~font-awesome/css/font-awesome.css";
body{
    background-color: rgba(0, 0, 0, 0.892);
    color: whitesmoke;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
