.posts{
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post{
    margin: 10px;
    background-color: rgba(38, 38, 38, 0.892);
    width: 34%;
    border-radius: 2%/10%;
    padding: 15px;
    position: relative;
}
.postButton{
    background-color: rgba(73, 73, 73, 0.892);
    border-radius: 5%/50%;
    border: none;
    height: 45px;
    width: 80%;
    text-align: left;
    font-size: 17px;
    color: whitesmoke;
}
.postButton:hover{
    background-color: rgba(99, 99, 99, 0.892);
}
.options{
    border: none;
    color: darkgray;
    font-size: 30px;
    background-color: transparent;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    font-size: 5px;
}
.options:hover{
    background-color: rgba(79, 79, 79, 0.892);
}
.options i{
    padding: 1px;
}
.modal-body{
    background-color: rgba(53, 53, 53, 0.892);
}
.modal-footer{
    background-color: rgba(53, 53, 53, 0.892);
}
.modal-header{
    background-color: rgba(53, 53, 53, 0.892);
}
.modal-footer button{
    width: 100%;
}
.text{
    resize:none;
    color: whitesmoke;
    background-color: transparent;
    border: none;
    width: 100%;
}
li{
    list-style: none;
    position: absolute;
    top: 15px;
    right: 15px;
}